html
  head
    title Question
  body
    h1
    if(user)
      h2= postBody
      h3= userAsking
      form(action="/profile/" + username + "/questions/" + postId, method="post")
        label(for="answer") Your Answer 
        input(type="text", name="answer")
        button(type="submit") Answer!
    else
      p Welcome Back Please login
      a(href="/login") Login